h1 {
color: #0446b0;
background-color: #eff7a1;
text-align: right;
}
body{
background-image: url(./img/moorish-pattern_644416-582.jpg);
display: flex;
flex-direction: column;
}
ul{
    background-color: #191970;
}
a{
    color: #ffd700;
}
a:hover{
    color: purple;
    background-color: aqua;
}
img{
    height: 400px;
    width: 400px;
}